@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
@font-face {
  font-family: 'Whitney-Bold';
  src: url("../fonts/Whitney-Bold.eot");
  src: url("../fonts/Whitney-Bold.woff2") format("woff2"), url("../fonts/Whitney-Bold.woff") format("woff"), url("../fonts/Whitney-Bold.ttf") format("truetype"), url("../fonts/Whitney-Bold.svg#Whitney-Bold") format("svg"), url("../fonts/Whitney-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/bg.jpg) 50% 50% no-repeat; }

.page-layout {
  min-height: 100%;
  padding-bottom: 129px; }

.c-layout {
  position: relative;
  width: 1000px;
  margin: 0 auto; }

/***************************************
header
***************************************/
.header {
  margin-top: 38px;
  margin-bottom: 52px; }
  .header-layout {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .header-title {
    margin: 0;
    font-family: 'Whitney-Bold', sans-serif;
    font-size: 4.75rem;
    color: #bb4bb8; }
    .header-title span {
      font-size: 6.875rem; }
  .header-subtitle {
    margin: 0;
    font-family: 'Whitney-Bold', sans-serif;
    font-size: 4.375rem;
    color: #bb4bb8; }
  .header-text {
    font-size: 1.875rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 76px; }
  .header-exhortation {
    font-weight: 400; }
    .header-exhortation--color-1 {
      color: #bb4bb8; }
    .header-exhortation--color-2 {
      color: #00a0dd; }
    .header-exhortation--color-3 {
      color: #6fc054; }

.с-conditions {
  text-align: right;
  margin-right: 23px; }
  .с-conditions-title {
    text-transform: uppercase;
    color: #545066;
    font-size: 1.125rem;
    font-family: 'Whitney-Bold', sans-serif; }
  .с-conditions-link {
    color: #575757;
    font-size: 0.875rem; }

.c-btn-down {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #bb4bb8;
  position: relative;
  margin: 58px 0; }
  .c-btn-down::after {
    content: '';
    position: absolute;
    top: 34px;
    left: 17px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 17px;
    height: 1px;
    background-color: #bb4bb8; }
  .c-btn-down::before {
    content: '';
    position: absolute;
    top: 34px;
    left: 29px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 17px;
    height: 1px;
    background-color: #bb4bb8; }

.c-btn-add {
  display: block;
  color: #423e52;
  font-size: 0.875rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: lowercase; }
  .c-btn-add__icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 12px;
    position: relative; }
    .c-btn-add__icon::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 17px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #7d7a8a; }
    .c-btn-add__icon::after {
      content: '';
      position: absolute;
      width: 17px;
      height: 1px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #7d7a8a; }

/***************************************
content
***************************************/
/*start style select*/
[data-icon]:after {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none; }

input[type="search"] {
  width: 100%;
  padding: 16px 13px;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  font: 0.875rem "Roboto", sans-serif;
  text-indent: 12px;
  color: #333;
  outline: none;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-input-placeholder {
  color: #333; }

input[type="search"]::-moz-input-placeholder {
  color: #333; }

input[type="search"]:-ms-input-placeholder {
  color: #333; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: white;
  text-align: left;
  cursor: pointer; }

input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
  position: absolute;
  content: 'x';
  font-style: normal; }

input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
  font-family: "entypo";
  content: attr(data-icon); }

input[type="search"] + label {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 100%;
  cursor: pointer; }

input[type="search"] + label:before {
  position: absolute;
  content: 'В каком отделе вы совершили покупку?';
  left: 24px;
  width: 100%;
  color: #fff;
  font: bold 14px/20px "Arial", sans-serif;
  text-align: left; }

input[type="search"] + label:after {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #333;
  content: '\25BE'; }

input[type="search"]:focus::-webkit-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus::-moz-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus:-ms-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus:invalid + label:before {
  display: none; }

input[type="search"]:focus:invalid + label:after {
  margin-left: 4px;
  content: attr(data-icon); }

input[type="search"]:valid + label {
  display: none; }

.ui-autocomplete {
  width: 190px;
  max-height: 180px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #2ec5aa;
  color: #fff;
  border-width: 4px 4px 4px 0;
  border-style: solid;
  border-color: #2ec5aa; }

.ui-autocomplete ul {
  list-style: none; }

.ui-autocomplete li {
  height: 36px;
  margin: 0;
  font: bold 14px/36px Arial, Helvetica, sans-serif;
  white-space: nowrap; }

.ui-autocomplete li:hover {
  -o-transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background: #3ed1b7; }

.ui-autocomplete li a {
  display: block;
  padding: 0 12px;
  cursor: pointer; }

/*end style select*/
.l-btn {
  margin-bottom: 20px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .l-btn--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .l-btn--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .l-btn--left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .l-btn .c-btn {
    display: inline-block; }
    .l-btn .c-btn--large {
      padding: 22px 66px; }
    .l-btn .c-btn-info {
      color: #7d7a8a;
      font-size: 0.875rem;
      width: 50%;
      margin-bottom: 14px;
      text-align: center; }
  .l-btn--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.с-btn,
button {
  display: inline-block;
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #bb4bb8; }

.c-form-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-form-item {
  position: relative;
  margin-bottom: 20px;
  width: 30%; }

.c-input {
  font: 15px Arial, sans-serif;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  padding: 16px 13px;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc; }
  .c-input:focus {
    border-color: #bb4bb8; }

.c-label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 6px;
  color: #111;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px; }

.effect-17 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: 0; }

.effect-17 ~ label {
  position: absolute;
  left: 13px;
  width: 100%;
  top: 17px;
  color: #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px; }

.effect-17:focus ~ label,
.has-content.effect-17 ~ label {
  top: 6px;
  font-size: 11px;
  color: #bb4bb8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/***************************************
footer
***************************************/
.footer {
  background: #1b1b38 url("../img/footer-bg.png") 50% 50% no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: -129px; }
  .footer-logo {
    display: inline-block;
    padding: 35px 0 22px;
    color: #a2b1c3;
    font: 14px 'Roboto', sans-serif;
    text-decoration: none; }
    .footer-logo:hover div {
      color: #fff; }
  .footer-social {
    position: absolute;
    right: 18px;
    top: 18px; }
    .footer-social_item {
      display: inline-block;
      width: 23px;
      height: 23px; }
      .footer-social_item:hover {
        opacity: .8; }

/***************************************
media
***************************************/
@media all and (max-width: 1000px) {
  .c-layout {
    width: 100%; } }
