@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page-layout {
  min-height: 100%;
  padding-bottom: 129px; }

.c-layout {
  position: relative;
  width: 1000px;
  margin: 0 auto; }

/***************************************
header
***************************************/
.header-title {
  margin: 0; }

/***************************************
content
***************************************/
/*start style select*/
[data-icon]:after {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none; }

input[type="search"] {
  width: 100%;
  height: 36px;
  padding: 0;
  line-height: 32px;
  background: #56e2c9;
  color: #fff;
  border: 0;
  font: bold 14px/20px "Arial", sans-serif;
  text-indent: 12px;
  outline: none;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-input-placeholder {
  color: transparent; }

input[type="search"]::-moz-input-placeholder {
  color: transparent; }

input[type="search"]:-ms-input-placeholder {
  color: transparent; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: white;
  text-align: left;
  cursor: pointer; }

input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
  position: absolute;
  content: 'x';
  font-style: normal; }

input[type="search"]:invalid {
  border: 0 !important; }

input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
  font-family: "entypo";
  content: attr(data-icon); }

input[type="search"] + label {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 100%;
  cursor: pointer; }

input[type="search"] + label:before {
  position: absolute;
  content: 'Выберите отдел';
  left: 24px;
  width: 100%;
  color: #fff;
  font: bold 14px/20px "Arial", sans-serif;
  text-align: left; }

input[type="search"] + label:after {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #fff;
  content: '\25BE'; }

input[type="search"]:focus::-webkit-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus::-moz-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus:-ms-input-placeholder {
  font-weight: normal;
  color: #fff; }

input[type="search"]:focus:invalid + label:before {
  display: none; }

input[type="search"]:focus:invalid + label:after {
  margin-left: 4px;
  content: attr(data-icon); }

input[type="search"]:valid + label {
  display: none; }

.ui-autocomplete {
  width: 190px;
  max-height: 180px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #2ec5aa;
  color: #fff;
  border-width: 4px 4px 4px 0;
  border-style: solid;
  border-color: #2ec5aa; }

.ui-autocomplete ul {
  list-style: none; }

.ui-autocomplete li {
  height: 36px;
  margin: 0;
  font: bold 14px/36px Arial, Helvetica, sans-serif;
  white-space: nowrap; }

.ui-autocomplete li:hover {
  -o-transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background: #3ed1b7; }

.ui-autocomplete li a {
  display: block;
  padding: 0 12px;
  cursor: pointer; }

/*end style select*/
.l-btn {
  margin-bottom: 20px; }
  .l-btn--center {
    text-align: center; }
  .l-btn--right {
    text-align: right; }
  .l-btn--left {
    text-align: left; }
  .l-btn .c-btn {
    display: inline-block; }

.с-btn,
button {
  display: inline-block;
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #bb4bb8; }

.c-form-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-form-item {
  position: relative;
  margin-bottom: 20px;
  width: 30%; }

.c-input {
  font: 15px Arial, sans-serif;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid #ccc; }

.c-label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 6px;
  color: #111;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px; }

.effect-17 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: 0; }

.effect-17 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px; }

.effect-17:focus ~ label, .has-content.effect-17 ~ label {
  top: -16px;
  font-size: 12px;
  color: #3399FF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/***************************************
footer
***************************************/
.footer {
  background: #1b1b38 url("../img/footer-bg.png") 50% 50% no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: -129px; }
  .footer-logo {
    display: inline-block;
    padding: 35px 0 22px;
    color: #a2b1c3;
    font: 14px 'Roboto', sans-serif;
    text-decoration: none; }
    .footer-logo:hover div {
      color: #fff; }
  .footer-social {
    position: absolute;
    right: 18px;
    top: 18px; }
    .footer-social_item {
      display: inline-block;
      width: 23px;
      height: 23px; }
      .footer-social_item:hover {
        opacity: .8; }

/***************************************
media
***************************************/
@media all and (max-width: 1000px) {
  .c-layout {
    width: 100%; } }
